.note_info_container {
    position: relative;
    padding-left: 30px;
    color: #3A3A3A;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: #F5F5F5 solid 1px;
}

.note_info_container:hover {
    background-color: #2DBE60;
    color: white;
}

.note_info_container:hover > p {
    color: white;
}

.note_info_title {
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    margin: 0px;
    /*background-color: #8a6d3b;*/
}

.note_info_time {
    color: #c0c0c0;
    font-size: 12px;
    margin: 0px;
    /*background-color: #1e6abc;*/
}

.note_item_selected {
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
}

.note_item_tool {
    width: 120px;
    height: 40px;
    text-align: right;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.note_tool_delete {
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    background: url("../image/note_style/delete_white_24x24.png");
}