.note_info_container {
    padding-left: 40px;
    color: #3A3A3A;
    padding-top: 10px;
    padding-bottom: 10px;
}

.note_info_container:hover {
    background-color: #2DBE60;
    color: white;
}

.note_info_title {
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
}